

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.dartboard-container {
    display: inline-block;
    margin: 0 auto;
}

.dartboard {
    position: relative;
}

.dartboard .score-preview {
    font-weight: bold;
    font-size: 5em;
    position: absolute;
    top: 0;
    left: 0;
}
